<!--Weather -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forecast details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="weather-details.component.css">
</head>

<!-- nav bar -->
                
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">forecast.now</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/favorites-page">Favorites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/map">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">Logout</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<!-- nav bar ends -->


<body>
    <div class="container container-fluid px-1 px-sm-1 mx-auto"  *ngIf="climate">
        <div class="row d-flex justify-content-center">
            <div class=" card0">
                <div class="lr">
                    <!-- card1 starts -->
                    <div class="card1 col-lg-8 col-md-7">
                        <small>forecast.now</small>
                        <div class="row px-3 mt-3 mb-3">
                            <div class="container mt-5">
                                <div class="d-flex flex-row justify-content-center align-items-center">
                                    <div class="weather__card">
                                        <div class="d-flex flex-row justify-content-center align-items-center">
                                            <div class="p-3">
                                                <h2>{{climate.forecast.forecastday[0].hour[0].temp_c}}&#8451;</h2>
                                            </div>
                                            <div class="p-3">
                                                <!-- <span class="weather__icon">{{climate.list[0].weather[0].icon}}</span> -->
                                                <img src={{climate.forecast.forecastday[0].hour[0].condition.icon}} alt="" height="150%" width="150%">
                                                <!-- <img src="https://svgur.com/i/d_61.svg"> -->
                                            </div>
                                            <div class="p-3">
                                                <h6></h6>
                                                <h6></h6>
                                                <h6></h6>
                                            </div>
                                            <div class="p-3">
                                                <h4>{{climate.forecast.forecastday[0].hour[0].time}}</h4>
                                                <h3>{{climate.location.name}}</h3>
                                                <h4 class="weather__description">{{climate.forecast.forecastday[0].hour[0].condition.text}}</h4>
                                            </div>
                                        </div>

                                        <div
                                            class="weather__status d-flex flex-row justify-content-center align-items-center mt-3">
                                            <div class="p-4 d-flex justify-content-center align-items-center">
                                                <img src="https://svgur.com/i/oHw.svg">
                                                <span>{{climate.current.precip_mm}}mm</span>
                                            </div>
                                            <div class="p-4 d-flex justify-content-center align-items-center">
                                                <img src="https://svgur.com/i/oH_.svg">
                                                <span>{{climate.current.pressure_in}}%</span>
                                            </div>
                                            <div class="p-4 d-flex justify-content-center align-items-center">
                                                <img src="https://svgur.com/i/oKS.svg">
                                                <span>{{climate.current.wind_kph}}km/h</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 7 days weather  -->

                        <div class="weather__forecast d-flex flex-row justify-content-center align-items-center mt-3">
                            <div class="p-4 d-flex flex-column justify-content-center align-items-center">
                                <span>{{climate.forecast.forecastday[0].hour[4].time}}</span>
                                <img src={{climate.forecast.forecastday[0].hour[4].condition.icon}} alt="">
                                <span>{{climate.forecast.forecastday[0].hour[4].temp_c}}&#8451;</span>
                            </div>
                            <!-- <img src={{climate.forecast.items[0]weather.icon}}> -->
                            <div class="p-4 d-flex flex-column justify-content-center align-items-center">
                                <span>{{climate.forecast.forecastday[0].hour[8].time}}</span>
                                <img src={{climate.forecast.forecastday[0].hour[8].condition.icon}} alt="">
                                <span>{{climate.forecast.forecastday[0].hour[8].temp_c}}&#8451;</span>
                            </div>

                            <div class="p-4 d-flex flex-column justify-content-center align-items-center">
                                <span>{{climate.forecast.forecastday[0].hour[12].time}}</span>
                                <img src={{climate.forecast.forecastday[0].hour[12].condition.icon}} alt="">
                                <span>{{climate.forecast.forecastday[0].hour[12].temp_c}}&#8451;</span>
                            </div>

                            <div class="p-4 d-flex flex-column justify-content-center align-items-center">
                                <span>{{climate.forecast.forecastday[0].hour[16].time}}</span>
                                <img src={{climate.forecast.forecastday[0].hour[16].condition.icon}} alt="">
                                <span>{{climate.forecast.forecastday[0].hour[16].temp_c}}&#8451;</span>
                            </div>

                            <div class="p-4 d-flex flex-column justify-content-center align-items-center">
                                <span>{{climate.forecast.forecastday[0].hour[20].time}}</span>
                                <img src={{climate.forecast.forecastday[0].hour[20].condition.icon}} alt="">
                                <span>{{climate.forecast.forecastday[0].hour[20].temp_c}}&#8451;</span>
                            </div>

                            <div class="p-4 d-flex flex-column justify-content-center align-items-center">
                                <span>{{climate.forecast.forecastday[0].hour[23].time}}</span>
                                <img src={{climate.forecast.forecastday[0].hour[23].condition.icon}} alt="">
                                <span>{{climate.forecast.forecastday[0].hour[23].temp_c}}&#8451;</span>
                            </div>

                            <div class="p-4 d-flex flex-column justify-content-center align-items-center">
                                <!-- <span>{{climate.forecast.forecastday[0].date}}</span>
                                <img src={{climate.current.condition.icon}} alt="">
                                <span>{{climate.forecast.forecastday[0].day.maxtemp_c}}&#8451;</span> -->
                            </div>

                            <div class="p-4 d-flex flex-column justify-content-center align-items-center">
                                <!-- <span>{{climate.forecast.items[7].date}}</span>
                                <span>{{climate.forecast.items[7].weather.icon}}</span>
                                <span>{{climate.forecast.items[7].temperature.max}}&#8451;</span> -->
                            </div>
                        </div>
                    </div>
                    <!-- card1 ends -->


                    <!-- right side -->
                    <!-- card2 starts -->

                    <div class="card2 col-lg-4 col-md-5">
                        <div class="row px-3">

                            <!-- recent search section(include favorite button) -->

                            <div class="search">
                              <form #form="ngForm" (submit)="onSubmit()">
                                <input class="text" type="text" data-bs-toggle="collapse"
                                    data-bs-target="#collapseWidthExample" aria-expanded="false"
                                    aria-controls="collapseWidthExample" placeholder="Search City" name="city"
                                    [(ngModel)] = "cityName" />
                                    <!-- <button id="favorites-button" (click)="addToFavorites(cityName)">
                                        <a href="#" routerLink="/favorites-page"><i class="fas fa-heart"></i></a>
                                    </button> -->
                                      
                                    <!-- <button id="favorites-button" type="submit">
                                        <a href="#" routerLink="/favorites-page"><i class="fas fa-heart"></i></a>
                                      </button> -->
                                      
                                <!-- <span class="link"><i class="bi bi-search"></i></span> -->
                             </form>  

                                <!-- <div>
                                    <div class="collapse collapse-horizontal" id="collapseWidthExample">

                                        <div class="drop" style="width: 5rem;">
                                            <div class="location">
                                                <a href="" class="light-text change">Trivandrum</a>
                                                <span style="display:inline-flex;"><i class="bi bi-star"></i></span>
                                            </div>
                                            <div class="location">
                                                <a style="flex-direction: column;" href=""
                                                    class="light-text change">London<span><i
                                                            class="bi bi-star"></i></span></a>
                                            </div>
                                            <div class="location">
                                                <a href="" class="light-text change">NewYork</a>
                                                <span><i class="bi bi-star"></i></span>
                                            </div>
                                            <div class="location">
                                                <a href="" class="light-text change">Berlin</a>
                                                <span><i class="bi bi-star"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                              
                            </div>

                            <!-- weather details -->

                            <div class="line my-5"></div>
                            <p class="details">Weather Today</p>
                            <div class="weather">
                                <div class="row px-3 align8">
                                    <p class="light-text">Clouds</p>
                                    <p class="ml-auto">{{climate.current.cloud}}</p>
                                </div>
                                <div class="row px-3">
                                    <p class="light-text">Humidity</p>
                                    <p class="ml-auto">{{climate.current.humidity}}</p>
                                </div>
                                <div class="row px-3">
                                    <p class="light-text">Wind</p>
                                    <p class="ml-auto">{{climate.current.wind_kph}}</p>
                                </div>
                                <div class="row px-3">
                                    <p class="light-text">Rain</p>
                                    <p class="ml-auto">{{climate.forecast.forecastday[0].day.daily_chance_of_rain}}</p>
                                </div>                            
                            </div>
                            <div class="line mt-2"></div>

                            <br>
                            <br>
                            <br>
                            <p class="details">Location Details</p>
                            <div class="other detials">
                                <ul>
                                    <li>City - {{climate.location.name}}</li>
                                    <br>
                                    <li>Region - {{climate.location.region}} </li>
                                    <br>
                                    <li>Country - {{climate.location.country}} </li>
                                    <br>
                                    <li>Local time - {{climate.location.localtime}} </li>
                                </ul>
                            </div>

                        </div>

                        <!-- fovorites location section -->
                        <div class="collapse collapse-horizontal" id="collapseExample">

                            <div class="drop" style="width: 5rem;">
                                <!-- <a href="" class="light-text suggestion">Birmingham</a> -->
                                <!-- <a href="" class="light-text suggestion">NewYork</a>
                                <a href="" class="light-text suggestion">London</a> -->
                            </div>
                        </div>

                        <!-- favorites ends -->

                    </div>
                    <!-- card2 end -->
                </div>
            


            </div>
        </div> 


    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

</body> 

</html>


































































































<!-- Weather -->
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="weather-details.component.css">
</head> -->

<!-- <body>
    <div class="container-fluid px-1 px-sm-1 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class=" card0"> -->
                <!-- nav bar -->
                
                <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="#">forecast.now</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                          <li class="nav-item">
                            <a class="nav-link" href="#">Favorites</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Map</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                </nav> -->

                <!-- nav bar ends -->

                <!-- <div class="lr"> -->
                    <!-- card1 starts -->
                    <!-- <div class="card1 col-lg-8 col-md-7">
                        <small>forecast.now</small>
                        <div class="row px-3 mt-3 mb-3">
                            <div class="container mt-5">
                                <div class="d-flex flex-row justify-content-center align-items-center">
                                    <div class="weather__card">
                                        <div class="d-flex flex-row justify-content-center align-items-center">
                                            <div class="p-3">
                                                <h1>15&deg;</h1>
                                            </div>
                                            <div class="p-3">
                                                <img src="https://svgur.com/i/oKG.svg">
                                            </div>
                                            <div class="p-3">
                                                <h5>Tuesday, 10 AM</h5>
                                                <h3>San Francisco</h3>
                                                <span class="weather__description">Mostly Cloudy</span>
                                            </div>
                                        </div> -->

                                        <!-- <div
                                            class="weather__status d-flex flex-row justify-content-center align-items-center mt-3">
                                            <div class="p-4 d-flex justify-content-center align-items-center">
                                                <img src="https://svgur.com/i/oHw.svg">
                                                <span>10%</span>
                                            </div>
                                            <div class="p-4 d-flex justify-content-center align-items-center">
                                                <img src="https://svgur.com/i/oH_.svg">
                                                <span>0.53 mB</span>
                                            </div>
                                            <div class="p-4 d-flex justify-content-center align-items-center">
                                                <img src="https://svgur.com/i/oKS.svg">
                                                <span>10 km/h</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- 7 days weather  -->

                        <!-- <div class="weather__forecast d-flex flex-row justify-content-center align-items-center mt-3">
                            <div class="p-4 d-flex flex-column justify-content-center align-items-center">
                                <span>Sun</span>
                                <img src="https://svgur.com/i/oJU.svg">
                                <span>11&deg;</span>
                            </div>

                            <div class="p-4 d-flex flex-column justify-content-center align-items-center">
                                <span>Mon</span>
                                <img src="https://svgur.com/i/oJU.svg">
                                <span>11&deg;</span>
                            </div>

                            <div class="p-4 d-flex flex-column justify-content-center align-items-center">
                                <span>Tue</span>
                                <img src="https://svgur.com/i/oJy.svg">
                                <span>6&deg;</span>
                            </div>

                            <div class="p-4 d-flex flex-column justify-content-center align-items-center">
                                <span>Wed</span>
                                <img src="https://svgur.com/i/oKG.svg">
                                <span>15&deg;</span>
                            </div>

                            <div class="p-4 d-flex flex-column justify-content-center align-items-center">
                                <span>Thu</span>
                                <img src="https://svgur.com/i/oKG.svg">
                                <span>15&deg;</span>
                            </div>

                            <div class="p-4 d-flex flex-column justify-content-center align-items-center">
                                <span>Fri</span>
                                <img src="https://svgur.com/i/oJe.svg">
                                <span>13&deg;</span>
                            </div>

                            <div class="p-4 d-flex flex-column justify-content-center align-items-center">
                                <span>Sat</span>
                                <img src="https://svgur.com/i/oJx.svg">
                                <span>13&deg;</span>
                            </div>
                        </div>
                    </div> -->
                    <!-- card1 ends -->


                    <!-- right side -->
                    <!-- card2 starts -->
<!-- 
                    <div class="card2 col-lg-4 col-md-5">
                        <div class="row px-3"> -->

                            <!-- recent search section(include favorite button) -->

                            <!-- <div class="search">
                                <input class="text" type="text" data-bs-toggle="collapse"
                                    data-bs-target="#collapseWidthExample" aria-expanded="false"
                                    aria-controls="collapseWidthExample" placeholder="Recent Search" />
                                <span class="link"><i class="bi bi-search"></i></span>

                                <div>
                                    <div class="collapse collapse-horizontal" id="collapseWidthExample">

                                        <div class="drop" style="width: 5rem;">
                                            <div class="location">
                                                <a href="" class="light-text change">Birmingham</a>
                                                <span style="display:inline-flex;"><i class="bi bi-star"></i></span>
                                            </div>
                                            <div class="location">
                                                <a style="flex-direction: column;" href=""
                                                    class="light-text change">Manchester<span><i
                                                            class="bi bi-star"></i></span></a>
                                            </div>
                                            <div class="location">
                                                <a href="" class="light-text change">NewYork</a>
                                                <span><i class="bi bi-star"></i></span>
                                            </div>
                                            <div class="location">
                                                <a href="" class="light-text change">California</a>
                                                <span><i class="bi bi-star"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <!-- weather details -->
<!-- 
                            <div class="line my-5"></div>
                            <p class="details">Weather Today</p>
                            <div class="weather">
                                <div class="row px-3 align8">
                                    <p class="light-text">Cloudy</p>
                                    <p class="ml-auto">12%</p>
                                </div>
                                <div class="row px-3">
                                    <p class="light-text">Humidity</p>
                                    <p class="ml-auto">78%</p>
                                </div>
                                <div class="row px-3">
                                    <p class="light-text">Wind</p>
                                    <p class="ml-auto">1km/h</p>
                                </div>
                                <div class="row px-3">
                                    <p class="light-text">Rain</p>
                                    <p class="ml-auto">0mm</p>
                                </div>
                            </div>
                            <div class="line mt-3"></div>
                        </div> -->

                        <!-- fovorites location section -->
                        <!-- <div class="collapse collapse-horizontal" id="collapseExample">

                            <div class="drop" style="width: 5rem;">
                                <a href="" class="light-text suggestion">Birmingham</a> -->
                                <!-- <a href="" class="light-text suggestion">NewYork</a>
                                <a href="" class="light-text suggestion">London</a> -->
                            <!-- </div>
                        </div> -->

                        <!-- favorites ends -->

                    <!-- </div> -->
                    <!-- card2 end -->
                <!-- </div>


            </div>
        </div>
    </div> -->

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

</body> 

</html> -->

<router-outlet></router-outlet>